@media screen and (min-width:480px) {
    .container{
        width: 428px;
    }

.hero-txt{
    width: 318px;
}
    
    .worklistt{
        width: 264px;
        justify-content: center;
    }
    .worklist{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
.footer{
    width: 100%;
}

.footer-text{
    width: 268px;
}

.customers-penkts{
    width: calc(( 100% - 46px ) / 2 );

}

.customers-list{
    
    margin-left: auto;
    margin-right: auto;
}

.cus-cont{
    padding-left: auto;
    padding-right: auto;
}
}
